<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Отдел</th>
      <th scope="col">ФИО</th>
      <th scope="col">Дата рождения</th>
      <th scope="col">Дата устройства на работу</th>
      <th scope="col">Заработная плата</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of Employees">
      <td>{{ employee.department }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.dateOfBirth | date : "dd.MM.yyyy" }}</td>
      <td>{{ employee.dateOfEmployment | date : "dd.MM.yyyy" }}</td>
      <td>{{ employee.salary }}</td>
      <td>
        <div class="d-flex gap-3">
          <button class="btn btn-outline-primary">Изменить</button>
          <button class="btn btn-outline-danger">Удалить</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
