<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Удаление пользователя</h4>
  <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <p><strong>Вы уверены, что хотите удалить <span class="text-primary">{{employee?.name}}</span> ?</strong></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Нет</button>
  <button type="button" ngbAutofocus class="btn btn-danger" (click)="deleteEmployee()">Да</button>
</div>