<div
  class="modal fade modal-dialog modal-dialog-centered"
  id="createEmployeeModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #form = "ngForm" (ngSubmit)="createEmployeeSubmit()">
          <div class="form-group">
            <app-dropdown-department></app-dropdown-department>
            <div class="mt-2">
                <label class="form-lable">Имя:</label>
                <input type="text" id="employeeName" class="form-control" name="employeeName" [(ngModel)] = "model.name">
                
            </div>

            <div class="mt-2">
                <label class="form-lable">Имя:</label>
                <input type="text" id="employeeName" class="form-control" name="employeeName">
            </div>

            <div class="mt-2">
                <label class="form-lable">Имя:</label>
                <input type="text" id="employeeName" class="form-control" name="employeeName">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Создать сотрудника</button>
      </div>
    </div>
  </div>
</div>
